* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

header {
  width: 100%;
  height: 100vh;
  padding: 1rem 0rem;
  background-image: url(../urban/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  width: 80%;
  margin: 0 auto;
  display: grid;
  color: rgb(245, 252, 255);
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, auto);
}
header nav .navheading {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
}
header nav .navheading h1 {
  font-size: 1rem;
}
header nav .navheading h1 span {
  color: rgb(16, 152, 244);
}
header nav .navheading ul {
  display: none;
}
header nav .navheading ul a {
  text-decoration: none;
  color: rgb(245, 252, 255);
}
header nav .navheading ul a li {
  width: 5rem;
  list-style-type: none;
  padding: 0.6rem 0rem;
  font-size: 1.2rem;
  transition: 1s;
}
header nav .navheading ul a li:hover {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}
header nav .navheading ul li {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0.6rem 0rem;
  transition: 1s;
}
header nav .navheading ul li:hover {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}
header nav .icons {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}
header nav .icons a {
  color: red;
}
header .center {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10rem;
}
header .center h1 {
  color: rgb(245, 252, 255);
  font-family: "Noto Serif Bengali", serif;
  margin-top: 8rem;
  margin-bottom: 0.6rem;
  font-size: 5rem;
  font-weight: 300;
}
header .center p {
  font-family: "Noto Serif Bengali", serif;
  margin-bottom: 1.6rem;
  font-size: 1rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  color: rgb(245, 252, 255);
}
header .center .mybtn {
  background-color: rgb(16, 152, 244);
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.2rem;
  transition: 1s;
}
header .center .mybtn:hover {
  transform: rotateX(360deg);
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}

.grouptwo {
  width: 80%;
  margin: 0 auto;
  background-image: url(../urban/circle-scatter-haikei.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, auto);
  padding: 5rem 0rem;
}
.grouptwo .imagegroup {
  padding: 0.5rem;
  border-radius: 100%;
}
.grouptwo .imagegroup img {
  width: 100%;
  border-radius: 100%;
  border: none;
  height: 100%;
}
.grouptwo .text {
  padding: 1rem 0rem 0rem 2rem;
}
.grouptwo .text h1 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.grouptwo .text p {
  margin: 3rem 0rem;
  color: grey;
}
.grouptwo .text p2 {
  word-spacing: 0.1rem;
  color: grey;
}
.grouptwo .text .mybtn {
  background-color: rgb(16, 152, 244);
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.2rem;
  transition: 1s;
}
.grouptwo .text .mybtn:hover {
  transform: rotateX(360deg);
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}

.fullwidth {
  width: 100%;
  background-color: rgb(16, 152, 244);
}
.fullwidth .halfwidth {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(16, 152, 244);
  color: rgb(245, 252, 255);
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, auto);
  padding: 5rem 0rem;
}
.fullwidth .halfwidth .imagegroup {
  padding: 0.5rem;
  border-radius: 100%;
}
.fullwidth .halfwidth .imagegroup img {
  width: 100%;
  border-radius: 100%;
  border: none;
  height: 100%;
}
.fullwidth .halfwidth .paragraph {
  padding: 1rem 0rem 0rem 2rem;
}
.fullwidth .halfwidth .paragraph h1 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.fullwidth .halfwidth .paragraph p {
  margin: 3rem 0rem;
  color: rgb(201, 199, 199);
}
.fullwidth .halfwidth .paragraph p2 {
  word-spacing: 0.1rem;
  color: rgb(201, 199, 199);
}
.fullwidth .halfwidth .paragraph .mybtn {
  background-color: rgb(245, 252, 255);
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: rgb(16, 152, 244);
  border: none;
  border-radius: 0.2rem;
  transition: 1s;
}
.fullwidth .halfwidth .paragraph .mybtn:hover {
  transform: rotateX(360deg);
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}

.secthree {
  width: 100%;
  text-align: center;
  padding: 5rem 0rem;
}
.secthree h1 {
  font-size: 2rem;
  font-family: "Noto Serif Bengali", serif;
}
.secthree h4 {
  margin: 1rem 0rem 2rem 0rem;
  color: rgb(16, 152, 244);
  font-size: 1.5rem;
}
.secthree .imgsection {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
.secthree .imgsection .imageone {
  grid-row: 1/2;
  grid-column: 1/2;
}
.secthree .imgsection .imageone .bxone {
  height: 70%;
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid rgb(16, 152, 244);
}
.secthree .imgsection .imageone .bxone img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: none;
  transition: 0.5s;
}
.secthree .imgsection .imageone .bxone img:hover {
  transform: scale(1.03);
}
.secthree .imgsection .imageone p {
  margin: 1rem 0rem;
  line-height: 1.5rem;
  color: rgb(16, 152, 244);
}
.secthree .imgsection .imageone .mybtn {
  background-color: rgb(16, 152, 244);
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.2rem;
  transition: 1s;
}
.secthree .imgsection .imageone .mybtn:hover {
  transform: rotateX(360deg);
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}
.secthree .imgsection .imagetwo {
  grid-row: 1/2;
  grid-column: 2/3;
}
.secthree .imgsection .imagetwo .bxtwo {
  height: 70%;
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid rgb(16, 152, 244);
}
.secthree .imgsection .imagetwo .bxtwo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: none;
  transition: 0.5s;
}
.secthree .imgsection .imagetwo .bxtwo img:hover {
  transform: scale(1.03);
}
.secthree .imgsection .imagetwo p {
  margin: 1rem 0rem;
  line-height: 1.5rem;
  color: rgb(16, 152, 244);
}
.secthree .imgsection .imagetwo .mybtn {
  background-color: rgb(16, 152, 244);
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.2rem;
  transition: 1s;
}
.secthree .imgsection .imagetwo .mybtn:hover {
  transform: rotateX(360deg);
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}
.secthree .imgsection .imagethree {
  grid-row: 1/2;
  grid-column: 3/4;
}
.secthree .imgsection .imagethree .bxthree {
  height: 70%;
  border-radius: 100%;
  padding: 0.3rem;
  border: 1px solid rgb(16, 152, 244);
}
.secthree .imgsection .imagethree .bxthree img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: none;
  transition: 0.5s;
}
.secthree .imgsection .imagethree .bxthree img:hover {
  transform: scale(1.03);
}
.secthree .imgsection .imagethree p {
  margin: 1rem 0rem;
  line-height: 1.5rem;
  color: rgb(16, 152, 244);
}
.secthree .imgsection .imagethree .mybtn {
  background-color: rgb(16, 152, 244);
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.2rem;
  transition: 1s;
}
.secthree .imgsection .imagethree .mybtn:hover {
  transform: rotateX(360deg);
  background-image: linear-gradient(to right, rgb(16, 152, 244), rgb(0, 255, 166), rgb(16, 152, 244));
}

footer {
  text-align: center;
  padding: 2rem 0rem;
  font-size: 2.2rem;
  text-align: center;
}
footer a {
  color: black;
}
footer span {
  margin-left: 2rem;
  border: none;
  transition: 1s;
}
footer span:hover {
  color: red;
  transform: rotate(360deg);
}
footer .fa-facebook {
  transition: 1s;
}
footer .fa-facebook:hover {
  transform: rotateY(360deg);
  color: red;
}
footer .fa-twitter {
  transition: 1s;
}
footer .fa-twitter:hover {
  transform: rotateY(360deg);
  color: red;
}
footer p {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Noto Serif Bengali", serif;
}
footer p i {
  color: red;
}

.map {
  width: 50vw;
  height: 60vh;
  margin: 0 auto;
}
.map h3 {
  font-size: 1rem;
}
.map h3 a span {
  color: red;
}

@media only screen and (max-width: 1100px) {
  header .center h1 {
    font-size: 3rem;
  }
  header .center p {
    font-family: "Noto Serif Bengali", serif;
    margin-bottom: 1.6rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    color: rgb(245, 252, 255);
  }
}
@media only screen and (max-width: 1280px) {
  .grouptwo {
    width: 80%;
    padding: 8rem 0rem;
  }
  .grouptwo .imagegroup {
    height: 80%;
  }
  .grouptwo .imagegroup img {
    width: 100%;
    border-radius: 100%;
    border: none;
    height: 100%;
  }
}
@media only screen and (max-width: 1080px) {
  .grouptwo {
    width: 35%;
    margin: 0 auto;
    background-image: url(../urban/circle-scatter-haikei.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
    align-content: space-between;
    justify-content: center;
    padding: 8rem 0rem;
  }
  .grouptwo .imagegroup {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grouptwo .imagegroup img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
  }
  .grouptwo .imagegroup .text {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 0.4rem 0rem 1rem 0.2rem;
  }
}
@media only screen and (max-width: 680px) {
  .grouptwo {
    width: 60%;
    margin: 0 auto;
    background-image: url(../urban/circle-scatter-haikei.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
    align-content: space-between;
    justify-content: center;
    padding: 8rem 0rem;
  }
  .grouptwo .imagegroup {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grouptwo .imagegroup img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
  }
  .grouptwo .text {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 0.4rem 0rem 1rem 0rem;
  }
  .grouptwo .text h1 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1280px) {
  .fullwidth .halfwidth {
    width: 80%;
    padding: 8rem 0rem;
  }
  .fullwidth .halfwidth .imagegroup {
    height: 80%;
  }
  .fullwidth .halfwidth .imagegroup img {
    width: 100%;
    border-radius: 100%;
    border: none;
    height: 100%;
  }
  .fullwidth .halfwidth .paragraph {
    height: 100%;
    padding: 1rem 0rem 1rem 0.7rem;
  }
}
@media only screen and (max-width: 1080px) {
  .fullwidth .halfwidth {
    width: 35%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
    align-content: space-between;
    justify-content: center;
    padding: 8rem 0rem;
  }
  .fullwidth .halfwidth .imagegroup {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .fullwidth .halfwidth .imagegroup img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
  }
  .fullwidth .halfwidth .paragraph {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 0.4rem 0rem 1rem 0.2rem;
  }
}
@media only screen and (max-width: 680px) {
  .fullwidth .halfwidth {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
    align-content: space-between;
    justify-content: center;
    padding: 8rem 0rem;
  }
  .fullwidth .halfwidth .imagegroup {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .fullwidth .halfwidth .imagegroup img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
  }
  .fullwidth .halfwidth .paragraph {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 1rem 0rem 0rem 0rem;
  }
  .fullwidth .halfwidth .paragraph h1 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1280px) {
  .secthree {
    width: 100%;
    text-align: center;
  }
  .secthree .imgsection {
    width: 80%;
  }
  .secthree .imgsection .imageone {
    padding: 0.3rem;
  }
  .secthree .imgsection .imageone p {
    font-size: 0.9rem;
  }
  .secthree .imgsection .imageone .bxone {
    height: 60%;
  }
  .secthree .imgsection .imagetwo {
    padding: 0.3rem;
  }
  .secthree .imgsection .imagetwo p {
    font-size: 0.9rem;
  }
  .secthree .imgsection .imagetwo .bxtwo {
    height: 60%;
  }
  .secthree .imgsection .imagethree {
    padding: 0.3rem;
  }
  .secthree .imgsection .imagethree p {
    font-size: 0.9rem;
  }
  .secthree .imgsection .imagethree .bxthree {
    height: 60%;
  }
}
@media only screen and (max-width: 1070px) {
  .secthree {
    width: 100%;
    text-align: center;
  }
  .secthree h1, .secthree h4 {
    font-size: 1.2rem;
  }
  .secthree .imgsection {
    width: 80%;
    display: grid;
    padding: 0px;
    margin: 0 auto;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(3, auto);
    align-content: space-between;
    justify-content: center;
  }
  .secthree .imgsection .imageone {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .secthree .imgsection .imagetwo {
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .secthree .imgsection .imagethree {
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 470px) {
  .secthree {
    width: 100%;
    text-align: center;
  }
  .secthree .imgsection {
    width: 80%;
    display: grid;
    padding: 0px;
    margin: 0 auto;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(3, auto);
    align-content: space-between;
    justify-content: center;
  }
  .secthree .imgsection .imageone {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .secthree .imgsection .imageone .bxone {
    height: 50%;
  }
  .secthree .imgsection .imagetwo {
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .secthree .imgsection .imagetwo .bxtwo {
    height: 50%;
  }
  .secthree .imgsection .imagethree {
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .secthree .imgsection .imagethree .bxthree {
    height: 50%;
  }
}/*# sourceMappingURL=urbangrid.css.map */